
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Single Page App Example</title>
    <link rel="stylesheet" type="text/css" href="~/Content/mainScreen.css" />
</head>
<body>
    <div class="mainScreen">
        <h1>Planetary Travel</h1>
        <div class="leftColumn" id="locationStatus">

        </div>
        <div class="rightColumn" id="priceStatus">

        </div>
    </div>
    <script src="~/Scripts/JSON.js"></script>
</body>
</html>